{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}{{ cardset['name'] }} cardset{% endblock %}</h1>
{% endblock %}

{% block content %}
    {% if cards %}
        <ul>
        {% for card in cards %}
            <li>{{ card['prompt'] }}</li>
        {% endfor %}
        </ul>
        <a href="{{ url_for('cardsets.add_card', cardset_id=cardset['id']) }}">Add card</a>
    {% else %}
        <p>No cards in this set yet.</p>
        <p><a href="{{ url_for('cardsets.add_card', cardset_id=cardset['id']) }}">Add</a> some to start learning.</p>
    {% endif%}
{% endblock %}
