<!doctype html>
<title>{% block title %}{% endblock %} - Flashcards</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Flashcards</h1>
  <ul>
    <li><span>Some text</span>
    <li><a href="{{ url_for('cardsets.index') }}">Cardsets</a>
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
